<header>
    <nav>
        <!--Logo image-->
        <a href="/index">
            <img src="../../assets/images/logo.png" id=logo alt="logoPicture">
        </a>
        <ul> <!--Nav bar-->
            <li><a href="/newConnection">Start a new connection</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/login">Sign up</a></li> 
        </ul>
    </nav>
    <div class="logged_In_Name_Container">
    <a href="/connections" id=generalNav>Connections</a>

    </div>
</header>