<header>
    <nav>
        <!--Logo image-->
        <a href="/index">
            <img src="../../assets/images/logo.png" id=logo alt="logoPicture">
        </a>
        <ul> <!--Nav bar-->
            <li><a href="/newConnection">Start a new connection</a></li>
            <li><a href="/myConnections">My Connections</a></li>
            <li><a href="/myConnections/signOut">Sign Out</a></li>
        </ul>
    </nav>
    <div class="logged_In_Name_Container">
    <a href="/connections">Connections</a>
    <h3><%= name %></h3>
    </div>
</header>